<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Warung Makan Majar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="manifest" href="./app.webmanifest" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
  </head>
  <!--Halaman website-->
  <body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <header>
      <div class="nav-container">
        <img src="/images/heros/majar.png" alt="majar" />
        <button id="hamburger" class="hamburger" tabindex="0">☰</button>
        <nav id="nav">
          <ul>
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#/favorite">Favorite</a></li>
            <li class="nav-item">
              <a href="https://github.com/awaa19">About Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main id="mainContent" tabindex="0"></main>

    <footer>
      <p>&copy; 2023 Warung Makan Majar. Hak Cipta Dilindungi.</p>
    </footer>
  </body>
</html>
